@font-face{
	font-family: bebas;
	src: url(BEBAS.ttf);
}
body{
	background: url(bg.png);
}
a{
	outline: 0;
}
.clearfix:after{
	content: "";
   display: block;
   clear: both;
}
.container{
	width: 940px;
	margin: 0px auto;
}
.header{
	height: 80px;
}
.header .logo, .header .menu{
	display: inline-block;
	text-transform: uppercase;
}
.header .menu li{
	display: inline-block;
	float: left;
	width: auto;
	height: auto;
	margin-right: 25px;
}
.header .menu li:last-child{
	margin-right: 0px;
}
.header .logo{
	float: left;
	margin-top: 22px;
	font-family: bebas, sans-serif;
	font-size: 36px;
	color: #e8603c;
}
.header .logo span{
	opacity: 0.5;
}
.header .menu{
	float: right;
	margin-top: 35px;
}
.header .menu a{
	text-decoration: none;
	color: #b9b9b9;
	font-size: 16px;
	font-family: bebas, sans-serif;
}
.header .menu a:hover{
	color: #e8603c;
}
.slider{
	position: relative;
	height: 400px;
	background: url(http://placehold.it/940x400);
}
.slider .previousHover, .slider .nextHover{
	display: inline-block;
	position: absolute;
	top: 150px;
	box-sizing: border-box;
}
.slider .previousHover{
	left: 30px;
}
.slider .nextHover{
	right: 30px;
}
.slider img{
	width: 30px;
	opacity: 0.3;
}
.slider:hover img{
	opacity: 1;
	cursor: pointer;
}
.slider .description{
	width: 415px;
	height: 125px;
	position: absolute;
	margin-top: 245px;
	margin-left: 33px;
	background: rgba(232, 96, 60, 0.8);
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
.slider .description h1{
	text-transform: uppercase;
	font-family: bebas, sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
}
.slider .description span{
	font-size: 12px;
	font-family: arimo, sans-serif;
}
.thumbnails{
	height: 150px;
	box-sizing: border-box;
	padding: 15px 0px;
}
.thumbnails div{
	display: inline-block;
	float: left;
	width: 140px;
	height: 120px;
	margin-right: 20px;
}
.thumbnails div:last-child{
	margin-right: 0px;
}
.features{
	height: 340px;
	box-sizing: border-box;
	padding: 25px 0px;
}
.features>div{
	display: inline-block;
	float: left;
	width: 300px;
	height: 250px;
	margin-right: 20px;
}
.features>div:last-child{
	margin-right: 0px;
}
.features .featuresName{
	height: 80px;
}
.features .featuresName div{
	height: 100%;
	display: inline-block;
	float: left;
}
.features .featuresName .icon{
	width: 60px;
}
.features .featuresName .name{
	width: 200px;
	font-family: bebas, sans-serif;
	font-size: 18px;
	color: #e8603c;
	line-height: 24px;
}
.features .featuresDescription{
	height: 140px;
	font-family: arimo, sans-serif;
	color: #414141;
	font-size: 12px;
	line-height: 18px;
}
.features .button{
	width: 55px;
	height: 30px;
	background: #e8603c;
	text-align: center;
	box-sizing: border-box;
	padding-top: 8px;
}
.features .button a{
	font-family: bebas, sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.recentWorks{
	height: 335px;
}
.recentWorks span{
	float: left;
	font-family: bebas, sans-serif;
	font-size: 18px;
	color: #e8603c;
}
.recentWorks img{
	float: right;
}
.recentWorks .top{
	height: 45px;
}
.recentWorks .post{
	display: inline-block;
	float: left;
	width: 220px;
	height: 245px;
	margin-right: 20px;
}
.recentWorks .post:last-child{
	margin-right: 0px;
}
.recentWorks .preview{
	width: 220px;
	height: 185px;
}
.recentWorks .title{
	height: 60px;
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
}
.recentWorks .name{
	height: 35px;
	box-sizing: border-box;
	padding: 10px;
	font-family: bebas, sans-serif;
	font-size: 16px;
	color: #b9b9b9;
}
.recentWorks .date{
	height: 25px;
	font-size: 11px;
	font-family: bebas, sans-serif;
	color: #e8663c;
	text-transform: uppercase;
	box-sizing: border-box;
	padding-left: 10px;
}
.footer{
	height: 260px;
	background: #e8663c;
	box-sizing: border-box;
	padding: 30px;
}
.footer>div{
	display: inline-block;
	float: left;
	box-sizing: border-box;
}
.footer .about, .footer .contact{
	width: 260px;
	height: 100%;
}
.footer .twitter{
	width: 220px;
	height: 100%;
	margin-left: 70px;
	margin-right: 70px;
}
.footer h1{
	color: #fff;
	text-transform: uppercase;
	font-family: bebas, sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
}
.footer p, .footer .post{
	color: #fff;
	font-family: arimo, sans-serif;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 20px;
}
.footer .post a, .footer .time{
	text-decoration: none;
	font-family: arimo, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #f3b29d;
}
.footer .time{
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
}
.footer .social li{
	display: inline-block;
	float: left;
	margin-right: 7px;
	margin-top: 20px;
}