@font-face{
	font-family: bebas;
	src: url(BEBAS.ttf);
}
.clearfix:after{
	content: "";
   display: block;
   clear: both;
}
.center{
	width: 935px;
	margin: 0px auto;
}
.header{
	height: 80px;
}
.header .logo, .header .menu{
	display: inline-block;
}
.header .logo{
	margin-top: 20px;
	float: left;
	font-family: bebas, sans-serif;
	font-size: 36px;
	color: #e8603c;
	text-transform: uppercase;
}
.header .logo span{
	opacity: 0.3;
}
.header .menu{
	margin-top: 35px;
	float: right;
}
.header .menu li{
	display: inline-block;
	margin-right: 30px;
}
.header .menu li:last-child{
	margin-right: 0px;
}
.header .menu a{
	font-family: bebas, sans-serif;
	color: #e8603c;
	text-decoration: none;
	font-size: 16px;
}
.slider{
	height: 400px;
	background: url(http://placehold.it/935x400);
}
.slider .hover{
	width: 60px;
	height: 400px;
	display: inline-block;
	padding-top: 155px;
	box-sizing: border-box;
}
.slider .previous{
	float: left;
	text-align: right;
}
.slider .next{
	float: right;
	text-align: left;
}
.slider .desription{
	position: absolute;
	width: 410px;
	height: 125px;
	background-color: rgba(232, 96, 60, 0.8);
	box-sizing: border-box;
	margin-top: 245px;
	margin-left: 35px;
	padding: 20px;
}
.slider .desription h1{
	font-family: bebas, sans-serif;
	font-size: 18px;
	color: #fff;
}
.slider .desription p{
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	margin-top: 15px;
}
.thumbnails{
	margin-top: 25px;
}
.thumbnails li{
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 140px;
	height: 120px;
	margin-right: 19px;
	background: url(http://placehold.it/140x120);
}
.thumbnails li:last-child{
	margin-right: 0px;
}
.features{
	margin-top: 40px;
	margin-bottom: 40px;
}
.features div{
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 299px;
	height: 260px;
	margin-right: 19px;
}
.features div:last-child{
	margin-right: 0px;
}
.features .top{
	height: 50px;
}
.features .icon{
	box-sizing: border-box;
	padding-top: 5px;
	padding-left: 10px;
	width: auto;
	display: inline-block;
	float: left;
	height: 50px;
}
.features .slogan{
	width: 220px;;
	font-family: bebas, sans-serif;
	font-size: 18px;
	color: #e8603c;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
	float: left;
}
.features .desription{
	height: 150px;
	box-sizing: border-box;
	padding: 20px 10px;
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	color: #414141;
	line-height: 18px;
}
.features .button{
	width: 60px;
	height: 30px;
	box-sizing: border-box;
	background: #e8603c;
	padding-top: 6px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}
.features .button a{
	font-family: bebas;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.recentWorks{
	height: 290px;
}
.recentWorks .top{
	font-family: bebas;
	color: #e8603c;
	font-size: 18px;
	margin-bottom: 35px;
}
.recentWorks .top img{
	float: right;
}
.recentWorks .gallery .column{
	width: 220px;
	height: 245px;
	display: inline-block;
	float: left;
	margin-right: 18px;
}
.recentWorks .gallery .column:last-child{
	margin-right: 0px;
}
.recentWorks .preview{
	width: 220px;
	height: 185px;
	background: url(http://placehold.it/220x185);
}
.recentWorks .cont{
	border: 1px solid #b9b9b9;
}
.recentWorks .name{
	height: 10px;
	padding: 10px;
	text-align: left;
	font-family: bebas, sans-serif;
	font-size: 16px;
	color: #b9b9b9;
}
.recentWorks .date{
	height: 25px;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
	font-family: bebas, sans-serif;
	font-size: 16px;
	color: #e8603c;
}
.footer{
	margin-top: 70px;
	height: 260px;
	background: #e8603c;
}
.footer div{
	display: inline-block;
	float: left;
	width: 311px;
	height: 100%;
	box-sizing: border-box;
	padding: 35px;
}
.footer h1{
	font-family: bebas, sans-serif;
	font-size: 18px;
	color: #fff;
}
.footer p, .footer .post{
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 15px;
	margin-top: 15px;
}
.footer .post a, .footer .time{
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	color: #ee8f73;
	text-decoration: none;
}
.footer .post, .footer .time{
	width: auto;
	height: auto;
	padding: 0px;
}
.footer .time{
	margin-bottom: 20px;
}
.footer .social li{
	display: inline-block;
	float: left;
	margin-right: 7px;
	margin-top: 20px;
}